.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background: #ffffff;
  }
  
  .register-form {
    background: rgb(239, 239, 239);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .register-form h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .register-form input,
  .register-form select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
  }
  
  .register-form select {
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, #007bff 50%),
                      linear-gradient(135deg, #007bff 50%, transparent 50%);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px 12px;
  }
  
  .register-form select:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .register-form button {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .register-form button:hover {
    background-color: #0056b3;
  }
  
  .register-form p {
    margin-top: 15px;
    color: #666;
  }
  
  .register-form .login-link {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .register-form .login-link:hover {
    color: #0056b3;
  }
  